@import helper._

@(clusterForm: Form[MyEvent])(implicit request: MessagesRequestHeader)

    @main(title = "Create Event") {

        @form(action = routes.MyEventController.addEvent()) {
            @* @CSRF.formField *@
            @inputText(clusterForm("user"), 'placeholder -> "User Id")
            @inputText(clusterForm("date"))
            @inputText(clusterForm("item"),'placeholder -> "Item Id")
            @inputText(clusterForm("quantity"))
            <input type="submit" value="Create">
        }

    }